In [17]:
import numpy as np
import pandas as pd
import pandas_ta as ta
from datetime import datetime as dt

from plotly import graph_objects as go

In [6]:
xau = pd.read_csv("data/xauusd_1h.csv", index_col="datetime")
xau.size

449400

In [3]:
def pivot_high(highs:pd.Series, window:int=14):
    len = highs.size
    ph = np.zeros(shape=(len, ), dtype=float)
    
    for i in range(window, len-window):
        if highs.iloc[i] == highs.iloc[i-window:i+window].max():
            ph[i] = highs.iloc[i]
    return ph

def pivot_low(lows:pd.Series, window:int=14):
    len = lows.size
    pl = np.zeros(shape=(len, ), dtype=float)
    
    for i in range(window, len-window):
        if lows.iloc[i] == lows.iloc[i-window:i+window].min():
            pl[i] = lows.iloc[i]
    return pl

In [7]:
xau['ph'] = pivot_high(xau['high'], window=5)
xau['pl'] = pivot_high(xau['low'], window=5)

In [5]:
print((xau['ph'] != 0).sum())
print((xau['pl'] != 0).sum())

6738
6758

In [8]:
pl_ind = np.where(xau['pl'] != 0)[0]
ph_ind = np.where(xau['ph'] != 0)[0]

In [9]:
def plot_data(df):
    fig = go.Figure(
        data=[go.Candlestick(x=df.index,
                            close=df['close'],
                            open=df['open'],
                            low=df['low'],
                            high=df['high'])]
    )

    fig.update_layout(title="XAUUSD - H1",
                    xaxis_title="Date Time",
                    yaxis_title="Price",
                    xaxis=dict(type="category"))

    fig.show()

In [ ]:
plot_data(xau.iloc[ph_ind[5]-50:ph_ind[5]+50])

In [26]:
def tf_daily(df:pd.DataFrame):
    index = np.unique([str(dt.strptime(x, '%Y-%m-%d %H:%M:%S').date()) for x in df.index])
    
    daily = pd.DataFrame({}, columns=['open', 'high', 'low', 'close'], index=index)
    
    return daily

tf_daily(xau)

           open high  low close
2010-01-03  NaN  NaN  NaN   NaN
2010-01-04  NaN  NaN  NaN   NaN
2010-01-05  NaN  NaN  NaN   NaN
2010-01-06  NaN  NaN  NaN   NaN
2010-01-07  NaN  NaN  NaN   NaN
...         ...  ...  ...   ...
2024-10-13  NaN  NaN  NaN   NaN
2024-10-14  NaN  NaN  NaN   NaN
2024-10-15  NaN  NaN  NaN   NaN
2024-10-16  NaN  NaN  NaN   NaN
2024-10-17  NaN  NaN  NaN   NaN

[4654 rows x 4 columns]